// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #2c2738;
$color-grey: #888888;
$color-success: #14a38b;
$color-light-grey-filters: #fcfcfc;
$color-light-grey-card: #fbfbfb;
$color-light-grey-about-game: #f8f8f8;

// Other

$card-border-radius: 24px;
